
.container{
    min-width: 100vw;
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-family: 'Raleway', sans-serif;
}

h2, p, a, li, button{
    color: hsl(0, 0%, 100%);
}

.container{
    background-color: hsl(218, 28%, 13%);
}

main{
    background-color:  hsl(217, 28%, 15%); 
  
} 

.container-cabecalho{
    background-color: hsl(217, 28%, 15%);
}

.rodape{
    background-color:  hsl(216, 53%, 9%);
}

.comentario{
    background-color: hsl(219, 30%, 18%);
}



