.container-cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu ul a {
  margin-left: 50px;
}

.menu ul a:hover {
  text-decoration: underline;
}

.conteudo-principal .imagem-principal {
  background: url(../images/bg-curvy-desktop.svg) bottom no-repeat;
}

.conteudo-principal .ilustracao-da-intro {
  text-align: center;
}

.conteudo-principal .ilustracao-da-intro img{
  max-width: 60%;
  height: auto;
}

.conteudo-principal .descricao1 {
  text-align: center;
  margin: 0 auto;
  max-width: 680px;
  margin-top: 60px;
}

.conteudo-principal .descricao1 h2 {
  font-size: 40px;
  margin-bottom: 50px;
}

.conteudo-principal .descricao1 .texto {
  font-size: 22px;
  margin-bottom: 60px;
}

.conteudo-principal .botao{
  width: 317px;
  margin: 0 auto;
}

.conteudo-principal .botao a {
  padding: 20px 100px;
  border-radius: 50px;
  background-image: linear-gradient(
    to left,
    hsl(198, 60%, 50%),
    hsl(176, 68%, 64%)
  );
  font-size: 22px;
}

.conteudo-principal .botao a:hover {
  background: lightskyblue;
}

.vantagens {
  padding-top: 220px;
  row-gap: 100px;
  padding-bottom: 120px;
  background-color: hsl(218, 28%, 13%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.vantagens img {
  margin-bottom: 30px;
}

.vantagens .subtitulo {
  margin-bottom: 8px;
}

.vantagens p {
  font-size: 15px;
  line-height: 25px;
}

.icone1,
.icone2,
.icone3,
.icone4 {
  max-width: 400px;
  margin: 0 auto;
}

.imagem-secundaria {
  background-color: hsl(218, 28%, 13%);
  display: flex;
  align-items: center;
  padding-bottom: 200px;
  position: relative;
}

.imagem-secundaria .mantenha-se-produtivo {
  margin: 0 auto;
}

.imagem-secundaria .mantenha-se-produtivo img{
  max-width: 80%;
  height: auto;
}

.imagem-secundaria .descricao2 {
  width: 520px;
  margin: 0 auto;
}

.imagem-secundaria .descricao2 h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.imagem-secundaria .descricao2 p {
  font-size: 14px;
}

.imagem-secundaria .descricao2 .link {
  margin-top: 20px;
}

.imagem-secundaria .descricao2 .link a {
  padding: 5px;
  color: cadetblue;
  border-bottom: solid 1px;
}

.imagem-secundaria .descricao2 .link a:hover{
    color: #fff;
}

.feedback {
  background-color: hsl(218, 28%, 13%);
  display: flex;
  justify-content: center;
  gap: 40px;
}

.feedback .comentario {
  max-width: 400px;
  padding: 30px;
  position: relative;
}

.feedback .comentario p {
  margin-bottom: 20px;
}

.aspas {
  background: url(../images/bg-quotes.png) center center no-repeat;
  position: absolute;
  width: 55px;
  height: 45px;
  top: -30px;
  left: -10px;
}

.comentario {
  box-shadow: hsl(217, 28%, 15%) 5px 5px, hsl(217, 28%, 15%) 10px 10px;
}

.feedback .usuario {
  display: flex;
  gap: 10px;
}

.feedback .usuario ul li {
  line-height: 22px;
}

.feedback .usuario .cargo {
  font-size: 12px;
}

.feedback .comentario .usuario .foto-usuario {
  width: 40px;
  border-radius: 100%;
}

.email {
  box-shadow: hsl(218, 28%, 13%) 5px 5px, hsl(218, 28%, 13%) 10px 10px;
  position: relative;
  background-color: hsl(217, 28%, 15%);
  text-align: center;
  max-width: 900px;
  margin: 300px auto;
  padding: 30px 60px;
  margin-bottom: -130px;
}

.email .texto h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.email .texto p {
  max-width: 780px;
}

.email input {
  padding: 15px;
  border-radius: 30px;
  max-width: 500px;
}

.email .botao:hover {
  background: lightskyblue;
  transition: 0.3s;
}

.email .input-e-botao{
  min-width: 300px;
}

.email .input {
  padding: 20px;
}

.email .botao {
  background-image: linear-gradient(
    to left,
    hsl(198, 60%, 50%),
    hsl(176, 68%, 64%)
  );
  padding: 15px;
  border-radius: 30px;
  max-width: 250px;
  margin-left: 20px;
  cursor: pointer;
}

.rodape {
  padding: 190px 100px;
}

.contatos{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.rodape .localizacao {
  display: flex;
  max-width: 360px;
}

.logo {
  margin-bottom: 30px;
  grid-area: logo;
}

.localizacao {
  gap: 20px;
}

.contato {
  grid-area: contato;
}

.contato .icone {
  gap: 20px;
  display: flex;
  margin-bottom: 20px;
}

.sobre-nos a:hover {
  font-weight: 700;
}

.sobre-nos ul a {
  line-height: 40px;
}

.contate-nos a:hover {
  font-weight: 700;
}

.contate-nos ul a {
  line-height: 40px;
}

.social {
  display: flex;
  gap: 20px;
  font-size: 20px;
  text-align: center;
}

.social a {
  border: solid 1px #ffff;
  padding: 8px;
  border-radius: 100%;
  width: 47px;
  height: 30%;
}

.social a:hover {
  border: solid 1px cadetblue;
  color: cadetblue;
  transition: 0.3s;
}
